<header>
<img class="width" src="cbp-src/img/header.png">
<ul>
	<li id="top">
		<div><a href="/cmd-chan">トップページ</a></div>
	</li>
	<li id="relation">
		<div>関連</div>
		<ul class="submenu">
			<li id="twitterstamp"><a href="twitterstamp">Twitterスタンプ</a></li>
			<li id="color"><a href="color">カラーパレット</a></li>
		</ul>
	</li>
	<li id="about">
		<div><a href="about">コマブロちゃんとは</a></div>
	</li>
	<li id="share">
		<div>
			<a href="http://twitter.com/intent/tweet?text=コマンドブロック擬人化「コマブロちゃん」&hashtags=コマブロちゃん&url=http://keepoff07.github.io/cmd-chan/" id="tweet">
			共有する</a>
		</div>
	</li>
</ul>
</header>
