/* メニューバー */
header>ul {
	margin: 0;
	padding: 0;
	background-color: #b3b0b9;
	list-style-type: none;
	/* what */
	margin-top: -4px;
}
/* メニュー */
header>ul>li {
	margin: 0;
	width: calc(100%/4);
	float: left;
	font-size: 18px;
	text-align: center;
}
.phone header>ul>li {
	font-size: 1em;
}
header>ul:after {
	content: "";
	clear: both;
	display: block;
}
header>ul>li:hover,
.submenu>li:hover{
	background-color: #d2cfda;
}
header>ul>li>div {
	padding: 5px 0;
	display:block;
}
.phone header>ul>li>div {
	padding: 10px 0;
}
header>ul>li>div>a,
header>ul>li>ul>li>a{
	color: black;
	text-decoration:none;
	display:block;
}

header>ul>.active,
header>ul>.active:hover,
.submenu>.active,
.submenu>.active:hover{
	background-color: #777480;
}
header>ul>li>div:hover + .submenu, .submenu:hover {
	display: block;
}
/* メニューアイテム */
.submenu {
	margin: 0;
	padding: 0;
	min-width: 10em;
	background-color: #b3b0b9;
	border: 1px solid #9f9da7;
	box-shadow: 1px 1px 2px #333333;
	list-style-type: none;
	position: absolute;
	display: none;
	text-align: left;
}
.submenu>li{
	padding: 2px 5px;
	font-size: 16px;
}
.submenu>li:first-child{
	padding-top: 5px;
}
.submenu>li:last-child{
	padding-bottom: 5px;
}
